static/uploads
static/results
static/css/output.css
fold
fold1
results
videos
node_modules
.idea
*.mp4
*.avi
*.jpg
*.h5
*.keras
shape_predictor_68_face_landmarks.dat
__pycache__
last_model.pb
package-lock.json